@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
    --clr1: #f4f4f4;
    --clr2: #403d5c;
    --clr3: #c8c5e6;
    --clr4: #b6b3d6;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--clr1);
}

header {
    padding: 1rem;
}

header > #heading {
    font-size: 2rem;
    color: var(--clr2);
    text-align: center;
}

main > .next-meme {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

main > .next-meme > #next-meme-btn {
    border: none;
    background-color: none;
    padding: 0.5rem 1.5rem;
    font-family: inherit;
    font-size: 1rem;
    color: var(--clr2);
    font-weight: 600;
    background-color: var(--clr3);
    border-radius: 2rem;
    transition: background-color 150ms ease-in-out, color 300ms ease-in-out;
}

main > .next-meme > #next-meme-btn:hover {
    cursor: pointer;
    background-color: var(--clr2);
    color: var(--clr3);
}

